<html>
    <head>
       <title>What's My Name?</title>
    </head>
    <body>
      <h1>Index Page</h1>
      <h3>Your Name?</h3>
     <img src="http://vignette4.wikia.nocookie.net/rihanna/images/8/80/Rihanna-Whats_My_Name-feat-Drake-FanMade1-500x500.png/revision/latest?cb=20151228041834" height="300" width="300">
      <form action='/users' method='post'>
          Name: <input type='text' name='name'>
         
          <input type='submit' value='create user'>
      </form>
    </body>
</html>